body{
    margin: 0;
    overflow-x: hidden;
    /* -webkit-user-select: none; */
}
::-moz-selection {
  color: #000;
  background: #651fff99;
}

::selection {
  color: #000;
  background: #651fff99;
}
.appbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 30px;
    background-color: #ffffff99;
    backdrop-filter: blur(21px);
    padding: 16px;
    z-index: 2;
}
.get-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff99;
    backdrop-filter: blur(54.03px);
    font-family: apple,"SF Pro Icons",
               "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #1d1d1f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 4;
    -webkit-user-select: none;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    overflow: hidden;
}
a{
    font-family: apple,"SF Pro Icons",
               "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #1d1d1f;
}
.get-newsflash{
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #651fff;
    box-shadow: 2px 2px 90px 0px #00000030;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #fff;
}
.get-Content{
    display: flex;
    flex-flow: column;
    width: 290px;
    height: fit-content;
    font-family: apple,"SF Pro Icons",
               "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #1d1d1f;
    margin: 30px;
    float: left;
}
@media only screen and (max-width: 480px) {
    .get-Content{
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        /* font-weight: normal; */
    }
  }
@font-face {
    font-family: apple;
    src: url(fonts/apple-Regular.otf);
}
@font-face {
    font-family: google;
    src: url(fonts/google.ttf);
}
@font-face {
    font-family: apple-medium;
    src: url(fonts/apple-Medium.otf);
}
button{
    width: fit-content;
    height: fit-content;
    background: #651fff;
    border: transparent;
    border-radius: 4px;
    font-family: roboto;
    font-size: medium;
    color: #fff;
    cursor: pointer;
    outline: none !important;
    padding: 16px;
}
button:hover{
    background: #ff1f1f;
    color: #fff;
    font-weight: 500;
    transition-duration: 1s;
}
.Channel{
    display: flex;
    width: 270px;
    height: 56px;   
    margin: 20px;
    line-height: 1;
    align-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}
.info{
   font-family: Product Sans;
   font-size: 24px;
   margin-left: 20px;
}
h1{
   font-family: Product Sans;
   font-size: 24px;
   margin-left: 20px;
}
#subscriberCount{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #6B6B6B;
}
