body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
header {
    display: flex;
    flex-flow: row;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    align-items: center;
}
h1 {
    font-weight: 400;
    font-size: 22px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
article {
    background: #651fff19;
    border-radius: 16px;
    contain: paint;
    margin: 6px;
    padding: 10px 22px;
}
article p {
    font-size: larger;
}
h1 span {
    color: #fff;
    background: #651fff;
    border-radius: 4px;
    padding: 2px 6px;
    margin-bottom: 2px;
}
button {
    margin-bottom: 13px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    padding: 10px 22px;
    cursor: pointer;
}