:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}
body {
    margin: 0;
    font-size: 15px;
}
main {
    display: flex;
    flex-flow: column;
}
course {
    font-size: 22px;
    line-height: 2;
    margin: 13px;
}
week {
    background: rgb(0, 255, 0);
    border-radius: 4px;
    padding: 2px 6px;
}
pre {
    font-family: 'Roboto Mono', sans-serif;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 10px 0;
}
svg {
    margin: 13px 13px 0 13px;
}
button {
    padding: 10px 13px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #fff;
    border: transparent solid 0;
    background: #651fff;
    border-radius: 5px;
    cursor: pointer;
}
space {
    border-top: 2px dashed lightgrey;
    width: 100%;
}